alias grep='grep --colour=auto'
alias ls='ls --color=auto'
alias goodtail='tail --follow=name --retry'
alias greattail='goodtail $1 | /home/chicks/colorlog2'
alias mtr='mtr -w --curses'
# go's
alias gogit='cd /home/chicks/Documents/git/'
alias gohome='cd /home/chicks/Documents/git/chicks-home/'
