#!/bin/bash

#
# source /home/chicks/.functions
#
# to get these funcitons in your script.
#

# RH or Deb/Ub/Mint?
#
# set CHICKOS environment variable with RPM_CENTOS or DEB_MINT or broken_shit
#
function check_os {
	export CHICKOS=broken_shit

	if [[ -f /etc/redhat_release ]]
	then
		CHICKOS=RPM_CENTOS
	else
		if [[ -f /etc/debian_version ]]
		then
			CHICKOS=DEB_MINT
		else
			echo dunno, left CHICKOS=$CHICKOS
		fi
	fi
}

function check_packages {
	check_os # set CHICKOS

	UNIVERSAL_PKGS="vim screen mtr"
	RPM_PKGS="vim-enhanced"
	DEB_PKGS=""

	if [[ $CHICKOS == "DEB_MINT" ]]
	then
		for deb_pkg in $UNIVERSAL_PKGS $DEB_PKGS
		do
			dpkg-query -W -f '${binary:Package}\n' | grep "^$deb_pkg\$" > /dev/null || echo $deb_pkg is not installed
		done
	fi

	if [[ $CHICKOS == "RPM_CENTOS" ]]
	then
		for rpm_pkg in $UNIVERSAL_PKGS $RPM_PKGS
		do
			rpm -q --quiet $rpm_pkg || echo $rpm_pkg is not installed
		done
	fi
}
