#!/bin/bash

#
# source /home/chicks/.functions
#
# to get these funcitons in your script.
#

# RH or Deb/Ub/Mint?
#
# set CHICKOS environment variable with RPM_CENTOS or DEB_MINT or broken_shit
#
function check_os {
	export CHICKOS=broken_shit

	if [[ -f /etc/redhat_release ]]
	then
		CHICKOS=RPM_CENTOS
	else
		if [[ -f /etc/debian_version ]]
		then
			CHICKOS=DEB_MINT
		else
			echo dunno, left CHICKOS=$CHICKOS
		fi
	fi
}

function check_packages {
	check_os # set CHICKOS

	echo "check_packages()..."

	UNIVERSAL_PKGS="vim screen mtr perl bash whois pcregrep curl wget"
	RPM_PKGS="vim-enhanced"
	DEB_PKGS=""
	NEED_PKGS=""

	# debian mint
	if [[ $CHICKOS == "DEB_MINT" ]]
	then
		for deb_pkg in $UNIVERSAL_PKGS $DEB_PKGS
		do
			if dpkg-query -W -f '${binary:Package}\n' | grep "^$deb_pkg\$" > /dev/null 
			then
				#echo -e "\t$deb_pkg IS installed"
				true
			else
				echo -e "\t$deb_pkg is not installed"
				NEED_PKGS="$NEED_PKGS $deb_pkg"
			fi
		done
		echo  -e "\t# sudo apt-get install $NEED_PKGS"
	fi

	# rpm centos
	if [[ $CHICKOS == "RPM_CENTOS" ]]
	then
		for rpm_pkg in $UNIVERSAL_PKGS $RPM_PKGS
		do
			if rpm -q --quiet $rpm_pkg 
			then
				#echo -e "\t$rpm_pkg IS installed"
				true
			else
				echo $rpm_pkg is not installed
				NEED_PKGS="$NEED_PKGS $rpm_pkg"
			fi
		done
		echo  -e "\t# sudo yum install -y $NEED_PKGS"
	fi

	echo "check done."
}
