[user]
	name = Christopher Hicks
	email = chicks.net@gmail.com
[core]
	autocrlf = input
	safecrlf = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[push]
#	default = simple
