###		perl
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
/perl5/
/.cpanm/

###		history
/.bash_history
/.lesshst

###		email
/Mail
/mail
/dead.letter

###		typical local directories
/backups/
/Desktop/
/Documents/
/Downloads/
/Pictures/
/Videos/
/tmp/

###		ssh
/.ssh/genkey.log
/.ssh/id*
/.ssh/known*

###		mysql
.my.cnf
/.mysql_history

###		vim
#/.vim/
/.viminfo
*.sw[a-p]

###		games
/.steam*
/.Prison Architect/
/.ZenBound2/
/.coe3/
/.revenge_of_the_titans/
/.revenge_of_the_titans_1.80/

###		chicks scripts flag files
/.done*

###		x-windows
/.Xauthority
/.xsession-errors*

###		free software
/.compiz/
/.cups/
/.cinnamon/
/.elinks/
/.gconf/
/.gksu.lock
/.gnome/
/.gimp-2.8/
/.gstreamer-0.10/
/.mozilla/
/.psensor/
/.thunderbird/
/.wireshark/
/.workrave/
/Anki/

###		unfree software
/.macromedia/
/.adobe/
/.java/
/Ubuntu One/
.DS_Store

###		random ????
.local/
.config
.nv/
.pki/
.cache/
.ICEauthority
.dbus/
.dmrc
.pulse-cookie
.selected_editor
.thumbnails/
