blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
.bash_history
.viminfo
Mail
mail
Downloads
Desktop
Documents
backups
tmp
.ssh/id*
.ssh/known*
.gconf
.steam*
.local/
.config
.thunderbird
.Xauthority
.my.cnf
.mysql_history
dead.letter
.lesshst
.ssh/genkey.log
.done*
.nv/
.macromedia/
.adobe/
.pki/
.cache/
.compiz/
.ICEauthority
.Prison Architect/
.ZenBound2/
.coe3/
.dbus/
.dmrc
.elinks/
.gimp-2.8/
.gstreamer-0.10/
.java/
.mozilla/
.psensor/
.pulse-cookie
.selected_editor
.thumbnails/
.vim/
.xsession-errors*
Pictures/
Ubuntu One/
Videos/
