[user]
	name = Christopher Hicks
	email = chicks.net@gmail.com
[core]
	autocrlf = input
;	autocrlf = false
	safecrlf = true
	excludesfile = /home/chicks/.gitignore_global

[alias]
	ack = ! git ls-files $GIT_PREFIX | ack -x
	co = checkout
	pushup = ! git push -u origin HEAD
	ci = commit
	cim = commit -m
	st = status
	stp = status --porcelain
	br = branch
	hist = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	type = cat-file -t
	dump = cat-file -p
	undo = checkout --

[push]
	default = simple

[color]
	diff = auto
	ui = yes

[transfer] 
	fsckobjects = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
